.center h1{
    text-align: center;
    margin-top: 100px;
}
.galeria{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 300px);
    margin-top: 100px;
    grid-gap: 20px;
    .item1{
        background-color: #EEE5FB;
        background-image: url(/assets/img/ventas-screen.webp);
        background-size: 400px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .item2{
        background-color: #F8E7B1;
        background-image: url(/assets/img/dashboard.webp);
        background-size: 400px;
        background-repeat: no-repeat;
        background-position: center;    
    }
    .item3{
        background-color: #32333B;
        background-image: url(/assets/img/landing.webp);
        background-size: 400px;
        background-repeat: no-repeat;
        background-position: center;    
    }
    .item4{
        background-color: #C4F7FF;
        background-image: url(/assets/img/ventas-screen.webp);
        background-size: 400px;
        background-repeat: no-repeat;
        background-position: center;    
    }
}
.bg-color{
    
    margin-top: 50px;
    background-color: #EBF9FD;
    .iconos{
        display: flex;
        margin-top: 30px;
        margin-bottom: 40px;
        padding-right: 28px;
        .iconos-internos1 img{
            height: 70px;
            h5{
                margin-top: 15px;
                p{
                    margin-top: 10px;
                }
            }
        }
        .btn{
            border-radius: 100px;
            padding: 14px 40px;
        }
        .img-derecha{
            width: 450px;
                height: auto;
        }        
    }
    margin-top: 40px;
    .titular-color{
        color: $titulos-green;
    }
    .btn{
        border-radius: 100px;
        padding: 14px 40px;
    }
    .btn-brand{
        background-color: #0B1F22;
        color: #ffffff;
        &:hover{
            background-color: #0B1F22;
            color: #ffffff;
        } 
    }
}
